{%- liquid
  if cart == empty
    render 'Idea-icon-cart-empty'
  else
    render 'Idea-icon-cart'
  endif
-%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    <span aria-hidden="true">{{ cart.item_count }}</span>
  </div>
{%- endif -%}
