/* PC????ImageArea?ThumbnailArea??????? */
@media screen and (min-width: 990px) {
  media-gallery.product__media-gallery {
    display: flex;
    justify-content: space-between;
  }
}

/* ???????????????????? */
.thumbnail-slider {
  background: var(--LightGrayBG);
}

/* ???????????????????? */
@media screen and (min-width: 750px) {
  .thumbnail-slider {
    border: none !important;
  }
}

.SBtn:first-child {
  margin-bottom: 20px !important;
}

.swatch-button {
  border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}
