/* ====================================================
1: Top ITEM SLIDER
==================================================== */
.TopBannerSlider {
  /* //border: 5px solid red; */
  /* //border-top: 5px solid #373737; */
  background: #fff;
  width: 100%;
  height: 720px;
  overflow: hidden;
  position: relative;
}
/********************** (PC 1080px 以下) ********************* */
@media only screen and (max-width: 1080px) {
  .TopBannerSlider {
    height: 600px;
  }
}
/********************** (PC 1080px 以下) ********************* */
/********************** (SP 640px 以下) ********************* */
@media only screen and (max-width: 640px) {
  .TopBannerSlider {
    height: 500px;
  }
}
/********************** (SP 640px 以下) ********************* */
/*=== WayPoint使用時 FadeIn ===*/
/* .TopBannerSlider.WayPoint-FadeIn {
  //opacity: 0;
} */
.TopBannerSlider.WayPoint-FadeIn.Active {
  animation: CommonFadeIn 1.4s;
  animation-fill-mode: forwards;
}
/*----------------------------------------------
2: SLIDE ANIMATION
---------------------------------------------- */
@-webkit-keyframes zoomUp {
  0% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1.3);
  }
}
@keyframes zoomUp {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1.3);
  }
}
/*----------------------------------------------
3: SWIPER SLIDER
---------------------------------------------- */
/*==== Animation === */
/* .TopBannerSlider .swiper-slide-active .SildeImgArea,
.TopBannerSlider .swiper-slide-duplicate-active .SildeImgArea,
.TopBannerSlider .swiper-slide-prev .SildeImgArea {
  -webkit-animation: zoomUp 12s linear 0s;
    animation: zoomUp 12s linear 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
} */
.TopBannerSlider .swiper-slide {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.TopBannerSlider .swiper-pagination,
.TopBannerSlider .swiper-button-prev,
.TopBannerSlider .swiper-button-next {
  display: block !important;
  z-index: 1 !important;
}
.TopBannerSlider .swiper-pagination {
  bottom: 3% !important;
}
.TopBannerSlider .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 0 0 10px !important;
  background: #333 !important;
}

.TopBannerSlider .swiper-button-prev2,
.TopItemSlider .swiper-button-next2 {
  background: none !important;
}

.TopBannerSlider .swiper-button-prev2,
.TopBannerSlider .swiper-button-next2 {
  z-index: 2;
  top: 50%;
  transform: translate(0%, -50%);
  margin-top: 0;
  position: absolute;
  cursor: pointer;
}
.TopBannerSlider .swiper-button-prev2 {
  left: 15px;
}
.TopBannerSlider .swiper-button-next2 {
  right: 15px;
}
.TopBannerSlider .swiper-button-prev2 img,
.TopBannerSlider .swiper-button-next2 img {
  width: 20px;
  height: auto;
}
/********************** (PC 1080px 以下) ********************* */
@media only screen and (max-width: 1080px) {
  .TopBannerSlider .swiper-button-prev2 {
    left: 10px;
  }
  .TopBannerSlider .swiper-button-next2 {
    right: 10px;
  }
  .TopBannerSlider .swiper-button-prev2 img,
  .TopBannerSlider .swiper-button-next2 img {
    width: 12px;
    height: auto;
  }
}
/********************** (PC 1080px 以下) ********************* */

/*----------------------------------------------
4:SLIDE ITEM
---------------------------------------------- */
/*==== a 要素全体  === */
.TopBannerSlider .swiper-slide a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}

/*==== LAZYLOADED === */
.TopBannerSlider .SildeImgArea {
  width: 100%;
  height: 720px;
  position: relative;
}
/*==== Img  === */
.TopBannerSlider .SildeImgArea img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* この一行を追加するだけ！ */
  vertical-align: bottom;
}

.TopBannerSlider .SlideLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
}
.TopBannerSlider .SlideLogo img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px 0);
}
/********************** (PC 1120px 以下) ********************* */
@media only screen and (max-width: 1120px) {
  .TopBannerSlider .SlideLogo {
    width: 300px;
  }
}
/********************** (PC 1120px 以下) ********************* */
/********************** (PC 1120px 以下) ********************* */
@media only screen and (max-width: 1120px) {
  .TopBannerSlider .SildeImgArea {
    height: 600px;
  }
}
/********************** (PC 1120px 以下) ********************* */
/********************** (PC 960px 以下) ********************* */
@media only screen and (max-width: 960px) {
  .TopBannerSlider .SlideLogo {
    width: 240px;
  }
}
/********************** (PC 960px 以下) ********************* */
/********************** (SP 640px 以下) ********************* */
@media only screen and (max-width: 640px) {
  .TopBannerSlider .SildeImgArea {
    height: 500px;
  }
}
/********************** (SP 640px 以下) ********************* */
@media only screen and (max-width: 414px) {
  .TopBannerSlider .SlideLogo {
    width: 40vw;
  }
}
/********************** (SP 640px 以下) ********************* */
.TopBannerSlider .swiper-slide-active .SlideLogo {
  opacity: 1;
  /* //animation: SlideLogo-FadeIn  .8s ease-in-out 2s normal both; */
}
/*=== Animation === */
@keyframes SlideLogo-FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
